.card-flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-flow: 'row';
 
    justify-content: space-around;
align-content: center;
}

.flex-item{
height: 10%

}

a.disabled {
    pointer-events: none;
}