.dropzone{
    width: 100%;
    height: 500px;
    border: 2px dashed #ccc;
    color: #ccc;
    line-height: 100px;

    text-align: center
}

.dropzone.dragover{
border-color: crimson;
color: crimson
}
