.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-form-field {
  margin-right: 12px;
}

.dashboard-container{
  width: 100%
}

.card-container{
  
  background-color: brown;
  display:  flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
}

.button-container{
  display:  flex;
  flex-flow: row;
  justify-content: space-between;
}

.live-info {
  flex-grow: 1;
  justify-content: space-between
}