<!-- <mat-card fxLayout="row" fxLayoutGap="5px">
  <img src="/assets/bk.jpeg" width="500px" height="500px" mat-card-image>
  <mat-card-header>
    <mat-card-title>title alskdf ja;lsdkfj a;lsdfkj as;ldfkj as;dlfj </mat-card-title>
    <mat-card-subtitle>1000k views</mat-card-subtitle>
  </mat-card-header>
</mat-card> -->

<!-- 
<mat-card>
 
  <mat-card-content fxLayout="row" fxLayoutGap="5px">
      <img src="/assets/bk.jpeg" width="40px" height="60px" mat-card-image>
      <mat-card-header>
          <mat-card-title>title alskdf ja;lsdkfj a;lsdfkj as;ldfkj as;dlfj </mat-card-title>
          <mat-card-subtitle>1000k views</mat-card-subtitle>
        </mat-card-header>
  </mat-card-content>
  
</mat-card> -->

<mat-card fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="20px" style="background-color: black">
    <mat-card-content >
        <img src="/assets/bk.jpeg"  mat-card-image style="width: 160px; height: 160px;">
    </mat-card-content>
  <div>
    <mat-card-title style="font-size: 17px;">thlskjdf lkjasldkfj asldfkj a;sldfkj asldfkj asdf</mat-card-title>
    <mat-card-subtitle>1000k views</mat-card-subtitle>
  </div>

</mat-card>
<mat-divider>
</mat-divider>

<mat-card fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="20px" style="background-color: black">
    <mat-card-content >
        <img src="/assets/bk.jpeg"  mat-card-image style="width: 160px; height: 160px;">
    </mat-card-content>
  <div>
    <mat-card-title style="font-size: 17px;">thlskjdf lkjasldkfj asldfkj a;sldfkj asldfkj asdf</mat-card-title>
    <mat-card-subtitle>1000k views</mat-card-subtitle>
  </div>

</mat-card>
<mat-divider>
</mat-divider>